/*BUTTONS*/
.bg-btn{
  width: 220px;
  height: 60px;
  border: none;
  font-family: 'Taviraj', serif !important;

}

/*BACKGROUNDS*/
.btn-bg{
  background:  #D84727;

}
.heart-bg{
  color:  #D84727;

}
.bg{
  background: #F1DDC9;
}
/*FONTS*/
.ff{
  font-family: 'Taviraj', serif !important;
}
/*SIZES*/
.w-30{
  width: 25%;
}
.mt-25{
  margin-top: 100px;
}
.my-8{
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.my-6{
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.mx-100{
  margin-left: 100px;
  margin-right: 100px;
}
.top-10{
  top: -10%;
}
.z-index{
  z-index: 10;
}
/*Hover*/

.card-content :hover{
  transform: scale(1.1);
}


.logo-inicio{
  width: 350px;
  height: 450px;
  opacity: .9;
  
}
.img-content{
  top: 15%;
}
.info{
  font-family: 'Nunito', sans-serif;
}
.img-box{
  width: 130px;
  height: 100px;
}
.img-product{
  width: 60px;
  height: 60px;
}
.img-side{
  height: 500px;
  width: 100%;
  top: 10%;
  right: 20%;
}
